<nav
	class="w-full rounded-2xl px-[10px] py-3 bg-t-light-light dark:bg-t-dark-lighter border border-t-light-dark dark:border-t-dark-light">
	<ul class="m-0 flex list-none flex-col gap-[3px] p-0">
		<li *ngFor="let item of items">
			<button type="button" (click)="navigate(item.link)"
				class="flex w-full cursor-pointer items-center gap-2 rounded-[10px] border-none bg-transparent px-2 py-[7px] text-left text-[13px] font-medium leading-[1.2] transition-colors duration-200 ease-in-out text-gray-700 dark:text-gray-400 hover:bg-t-light-dark hover:text-gray-900 dark:hover:bg-t-dark-light dark:hover:text-gray-200"
				[ngClass]="item.active ? 'bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary-light' : ''">
				<mat-icon class="!h-4 !w-4 !text-base">{{ item.icon }}</mat-icon>
				<span>{{ item.label }}</span>
			</button>
		</li>
	</ul>
</nav>