<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav py-7" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="assets/images/logo.png" alt="">
    </mat-toolbar>
    <mat-nav-list>
      @for (item of routes; track $index) {
        <a mat-list-item routerLinkActive="active" class="sidenav-item" [routerLink]="item.route">
          <div class="sidenav-item__link flex justify-start items-center gap-3">
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <span mat-line>{{ item.label }}</span>
          </div>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Vitor Pielak</span>
    </mat-toolbar>
    <main class="p-5">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
