<div>
  <img src="assets/images/logo.png" alt="" class="mx-auto my-5 h-24">
  <h1 class="text-2xl font-bold mb-2 text-primary">Seja bem-vindo(a)!</h1>
  <p class="mb-3">Para acessar a plataforma, insira suas credenciais abaixo:</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>E-mail</mat-label>
      <input matInput required type="email" formControlName="credential">
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button type="button" class="mr-3" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>
    
    <p class="text-sm mb-7">
      Esqueceu sua senha?
      <span class="cursor-pointer font-bold text-primary" routerLink="/home/forgot-password">Clique aqui</span>
    </p>
    
    <button [disabled]="form.invalid" mat-flat-button color="primary" class="w-full">Entrar</button>
  </form>

  <div class="flex flex-col sm:flex-row gap-3 justify-between items-center text-center uppercase font-bold mt-6 cursor-pointer">
    <a routerLink="/home/terms-privacy/terms" class="text-sm">Termos de uso</a>
    <a routerLink="/home/terms-privacy/privacy" class="text-sm">Políticas de privacidade</a>
  </div>
</div>